/*boby*/
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background: #FADEC8;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    overflow: hidden;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 140px;
    height: auto;
}
a {
    color: 
    rgb(0, 0, 0);
    text-decoration: none;
  }
a:hover{
    color: #007aff;
}
.menu-buttons {
    display: flex;
    gap: 120px;
}
.menu-buttons button {
    background: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    border: none;
}
.icon-buttons {
    display: flex;
    gap: 10px;
}
.icon-buttons button {
    background: none;
    color: #ffffff;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
}
.bxs-user-circle{
    background: none;
    color: black;
    font-size: 55px;
}
#account-btn{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
button:hover {
    transform: scale(1.05); 
    transition: all 0.3s ease-in-out; 
}
button:active {
    transform: scale(0.95);
    transition: all 0.1s ease-in-out;
}

.main{
    width: 100%;
    text-align: center;
}
.main-title{
    margin-top: 20px;
    font-size: 36px;
    font-weight: bold;
}
.container{
    display: flex;
    justify-content: space-between;
}
.left{
    width: 20%;
    margin-top: 8%;
}
.left-grid{
    display: grid;
    gap: 10px;
}
.item-left{
    background: #ffffff;
    width: 250px;
    border-radius: 5px;
}
.item-left:hover{
    background-color: #babebe;
    color: white;
}
.sub .bx{
    margin: 0 28px;
    font-size: 32px;
}
.sub{
    margin-right: 30px;
    font-weight: 200;
    font-size: 22px;
    height: 60px;
    display: flex;
    align-items: center;
}
.right{
    width: 70%;
    margin-right: 75px;
    background: #ffffff;
    height: 70vh;
    border-radius: 5px;
    margin-top: 20px;
}
.main-top{
    margin-top: 2%;
    width: 100%;
    display: flex;
}
.main-topleft{
    width: 70%;
    display: flex;
    justify-content: flex-end;
}
.main-topleft img{
    width: 400px;
    height: 290px;
    border-radius: 10px;
    margin-right: 20px;
}
.main-topright{
    width: 60%;
}
.main-gridright{
    display: grid;
    gap: 20px;
    align-items: flex-start;
    text-align: left;
}
.main-itemright img{
    width: 200px;
    height: 130px;
    border-radius: 10px;
}
#preview1 img{
    width: 290px; 
    height: 163.13px;
}
#preview2 img{
    width: 141px;
    height: 79.31px;
}
#preview3 img{
    width: 141px;
    height: 79.31px;
}
.main-un-title{
    font-size: 30px;
    font-weight: 500;
}
.main-name{
    text-align: center;
    margin-bottom: 10px;
}
.main-un-left,.main-un-right{
    background: #8D6E63;
    color: #ffffff;
    text-align: left;
    margin: 20px 10%;
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
    width: 30%;
}
